@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Light.eot');
  src: local('☺'), url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.ttf') format('truetype'),
    url('../fonts/CeraPro-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Medium.eot');
  src: local('☺'), url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype'),
    url('../fonts/CeraPro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Regular.eot');
  src: local('☺'), url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype'),
    url('../fonts/CeraPro-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/CeraPro-Bold.eot');
  src: local('☺'), url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype'),
    url('../fonts/CeraPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url('../fonts/CaviarDreams.eot');
  src: local('☺'), url('../fonts/CaviarDreams.woff') format('woff'),
    url('../fonts/CaviarDreams.ttf') format('truetype'),
    url('../fonts/CaviarDreams.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: 'Cera Pro', sans-serif;
  color: var(--main-text);
  background: var(--background-color);
}

li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none; /* Убираем подчеркивание */
}
