<footer class="footer__container">
  <div class="footer__section container">
  <div class="footer__box">
    <a class="logo footer__logo link" href="./index.html">
      <img
        class="team-cards__img"
        srcset="
          ./images/desktop/logo-desktop/desktop-logo-min.png    1x,
          ./images/desktop/logo-desktop/desktop-logo@2x-min.png 2x
        "
        alt="Логотип компанії
        3Д-Фрідом"
      />
    </a>
  </div>
  <div class="footer-tablet">
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer__item">
       <a class="footer-nav__link" href="./index.html">Головна</a> 
      </li>
      <li class="footer__item">
        <a class="footer-nav__link" href="./modeling.html">3D Моделювання</a> 
      </li>
      <li class="footer__item">
        <a class="footer-nav__link" href="./scanning.html">3D Сканування</a>
      </li>
      <li class="footer__item">
        <a class="footer-nav__link" href="./printing.html">3D Друк</a>
      </li>
      <li class="footer__item">
        <a class="footer-nav__link" href="./take-order.html">Замовити</a>
      </li>
      <li class="footer__item">
        <a class="footer-nav__link" href="./contacts.html">Контакти</a>
      </li>
    </ul>
  </nav>
 <div class="footer-social__box">
      <ul class="footer-social__list">
        <li class="footer__item">Instagram</li>
        <li class="footer__item">YouTube</li>
        <li class="footer__item">Facebook</li>
      </ul>
    </div>
    <address class="address">
      <div class="address__box--mail">
        <p class="address__subtitle">Email</p>
        <a class="address__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
      </div>
      <div class="address__box--tel">
        <p class="address__subtitle">Телефони</p>
        <ul class="address__list">
          <li>
            <a class="address__link" href="+38 (093) 643 22 88">+38 (093) 643 22 88</a>
          </li>
          <li>
            <a class="address__link" href="+38 (050) 345 44 23">+38 (050) 345 44 23</a>
          </li>
        </ul>
      </div>
    </address>
    </div>
  </div>
  </div>
</footer>
