<footer class="footer__container">
  <div class="footer__box">
    <a class="logo footer__logo link" href="./index.html">
      <img
        class="team-cards__img"
        src="./images/desktop/logo-desktop/desktop-logo-min.png,
        ./images/desktop/logo-desktop/desktop-logo@2x-min.png"
        alt="Логотип компанії
        3Д-Фрідом"
      />
    </a>
  </div>
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li class="footer-nav__item">Головна</li>
      <li class="footer-nav__item">3D Моделювання</li>
      <li class="footer-nav__item">3D Сканування</li>
      <li class="footer-nav__item">3D Друк</li>
      <li class="footer-nav__item">Замовити</li>
      <li class="footer-nav__item">Контакти</li>
    </ul>
  </nav>
  <div class="footer-social__box">
    <ul class="footer-social__list">
      <li class="footer-social__list">Instagram</li>
      <li class="footer-social__list">YouTube</li>
      <li class="footer-social__list">Facebook</li>
    </ul>
  </div>
  <address class="address">
    <div class="address__box--mail">
      <ul class="address__list">
        Email
        <a class="address__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
      </ul>
    </div>
    <div class="address__box--tel">
      <ul class="address__list">
        Телефони
        <a class="address__link" href="+38 (093) 643 22 88">+38 (093) 643 22 88</a>
        <a class="address__link" href="+38 (050) 345 44 23">+38 (050) 345 44 23</a>
      </ul>
    </div>
  </address>
</footer>
