<section class="gallery-section">
    <div class="gallery-container">
        <h2 class="gallery-header">
            Галерея
        </h2>
        <ul class="gallery-list list">
            <li class="gallery-item">
                <div class="gallery-item__block">
                    <picture>
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/desktop/main/gallery1-min.jpg 1x,
                        ../src/images/desktop/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 768px)"
                        srcset="
                        ../src/images/tablet/main/gallery1-min.jpg 1x,
                        ../src/images/tablet/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/mobile/main/gallery1-min.jpg 1x,
                        ../src/images/mobile/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <img src="../src/images/mobile/main/gallery1-min.jpg" alt="анализ">
                    </picture>
                </div>
            </li>
            <li class="gallery-item">

            </li>
            <li class="gallery-item">

            </li>
            <li class="gallery-item">

            </li>
        </ul>
    </div>
</section>