<section class="gallery-section">
    <div class="gallery-container">
        <h2 class="gallery-header">
            Галерея
        </h2>
        <ul class="gallery-list list">
            <li class="gallery-item">
                <div class="gallery-item__block">
                    <picture>
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/desktop/main/gallery1-min.jpg 1x,
                        ../src/images/desktop/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 768px)"
                        srcset="
                        ../src/images/tablet/main/gallery1-min.jpg 1x,
                        ../src/images/tablet/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/mobile/main/gallery1-min.jpg 1x,
                        ../src/images/mobile/main/gallery1@2x-min.jpg 2x
                        "
                        >
                        <img src="../src/images/mobile/main/gallery1-min.jpg" alt="анализ" width="100%">
                    </picture>
                    <h3 class="gallery-text">Інженерні методи аналізу та контролю якості</h3>
                </div>
            </li>
            <li class="gallery-item">
                <div class="gallery-item__block">
                    <picture>
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/desktop/main/gallery2-min.jpg 1x,
                        ../src/images/desktop/main/gallery2@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 768px)"
                        srcset="
                        ../src/images/tablet/main/gallery2-min.jpg 1x,
                        ../src/images/tablet/main/gallery2@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/mobile/main/gallery2-min.jpg 1x,
                        ../src/images/mobile/main/gallery2@2x-min.jpg 2x
                        "
                        >
                        <img src="../src/images/mobile/main/gallery2-min.jpg" alt="машинка" width="100%">
                    </picture>
                    <h3 class="gallery-text">Високоточне 3D сканування</h3>
            </li>
            <li class="gallery-item">
                <div class="gallery-item__block">
                    <picture>
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/desktop/main/gallery3-min.jpg 1x,
                        ../src/images/desktop/main/gallery3@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 768px)"
                        srcset="
                        ../src/images/tablet/main/gallery3-min.jpg 1x,
                        ../src/images/tablet/main/gallery3@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/mobile/main/gallery3-min.jpg 1x,
                        ../src/images/mobile/main/gallery3@2x-min.jpg 2x
                        "
                        >
                        <img src="../src/images/mobile/main/gallery3-min.jpg" alt="коробка" width="100%">
                    </picture>
                    <h3 class="gallery-text">Створення точної копії на базі сканування reverse engineering</h3>
            </li>
            <li class="gallery-item">
                <div class="gallery-item__block">
                    <picture>
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/desktop/main/gallery4-min.jpg 1x,
                        ../src/images/desktop/main/gallery4@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 768px)"
                        srcset="
                        ../src/images/tablet/main/gallery4-min.jpg 1x,
                        ../src/images/tablet/main/gallery4@2x-min.jpg 2x
                        "
                        >
                        <source media="(min-width: 1440px)"
                        srcset="
                        ../src/images/mobile/main/gallery4-min.jpg 1x,
                        ../src/images/mobile/main/gallery4@2x-min.jpg 2x
                        "
                        >
                        <img src="../src/images/mobile/main/gallery4-min.jpg" alt="человек" width="100%">
                    </picture>
                    <h3 class="gallery-text">Всі цикли 3D проектування, створення фотореалістичних цифрових моделей</h3>
            </li>
        </ul>
    </div>
</section>