<header class="top-header">

    <div class="big-screen-header">
        <div class="header__container container">
            <nav class="header__nav">
                <a class="logo header__logo link" href="./index.html">
                    <picture>
                        <source srcset="" media="(min-width: 1444px)" />
                        <source srcset="" media="(min-width: 768px)" />
                        <source srcset="" media="(max-width: 320px)" />
                        <img class="team-cards__img" src="" alt="Логотип компанії 3Д-Фрідом" />
                    </picture>
                </a>
                <ul class="header-menu list">
                    <li class="header-menu__item header-menu__current"><a class="header-menu__link link"
                            href="">ГОЛОВНА</a></li>
                    <li class="header-menu__item">ПОСЛУГИ
                        <ul class="header-submenu">
                            <li class="header-submenu__item"><a class="header-submenu__link" href="">3D Моделювання
                            </li></a>
                            <li class=" header-submenu__item"><a class="header-submenu__link" href="">3D Сканування
                            </li></a>
                            <li class=" header-submenu__item"><a class="header-submenu__link" href="">3D Друк</li>
                            </a>
                        </ul>
                    </li>
                    <li class="header-menu__item"><a class="header-menu__link link" href="">ЗАМОВИТИ</a></li>
                    <li class="header-menu__item"><a class="header-menu__link link" href="">КОНТАКТИ</a></li>
                </ul>
                </ul>

                <ul class="lang list">
                    <li class="lang__item lang__current"><a class="lang__link link" href="">ENG</a>
                    </li>
                    <li class="lang__item"><a class="lang__link link" href="">RU</a></li>
                    <li class="lang__item"><a class="lang__link link" href="">UA</a></li>
                </ul>

                <ul class="header-tel list">
                    <li class="header-tel__item"><a class="header-tel-link link" href="+380936432288">
                            <svg class="header__icon" width="10" height="16">
                                <use href=""></use>
                            </svg>
                            +38 (093) 643 22 88</a>
                    </li>
                    <li class="header-tel__item"><a class="header-tel-link link" href="+380503454423">
                            <svg class="header__icon" width="10" height="16">
                                <use href=""></use>
                            </svg>+38 (050) 345 44 23</a>
                    </li>
                </ul>


            </nav>
        </div>
    </div>
</header>