<header class="header header-section">
    <div class="header__container ">

        <div class="big-screen-header">
            <nav class="header__nav">
                <a class="logo header__logo link" href="./index.html">
                    <picture>
                        <source
                            srcset="./images/desktop/logo-desktop/desktop-logo-min.png 1x, ./images/desktop/logo-desktop/desktop-logo@2x-min.png 2x"
                            media="(min-width: 1440px)" />
                        <source
                            srcset="./images/tablet/logo-tablet/tablet-logo-min.png 1x, ./images/tablet/logo-tablet/tablet-logo@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source
                            srcset="./images/mobile/logo-mobile/mobil-logo-min.png 1x, ./images/mobile/logo-mobile/mobil-logo@2x-min.png 2x"
                            media="(max-width: 320px)" />
                        <img class="team-cards__img" src="./images/mobile/logo-mobile/mobil-logo-min.png"
                            alt="Логотип компанії 3Д-Фрідом" />
                    </picture>
                </a>
                <div class="header-menu-wrap">
                    <ul class="header-menu list">
                        <li class="header-menu__item header-menu__current">
                            <a class="header-menu__link link" href="./index.html">Головна</a>
                        </li>
                        <li class="header-menu__item select-box">
                            <ul class="header-submenu options-container32 select-box__list">
                                <li class="header-submenu__item option32 select-box__item">
                                    <a class="header-submenu__link link" href="./modeling.html">3D Моделювання</a>
                                </li>
                                <li class=" header-submenu__item option32 select-box__item">
                                    <a class="header-submenu__link link" href="./scanning.html">3D Сканування</a>
                                </li>
                                <li class=" header-submenu__item option32 select-box__item">
                                    <a class="header-submenu__link link" href="./printing.html">3D Друк</a>
                                </li>
                            </ul>
                            <p class="selected32 select-form__subtitle">Послуги</p>

                        </li>
                        <li class="header-menu__item">
                            <a class="header-menu__link link" href="./take-order.html">Замовити</a>
                        </li>
                        <li class="header-menu__item">
                            <a class="header-menu__link link" href="./contacts.html">Контакти</a>
                        </li>
                    </ul>
                    <div class="select-box selected-lang">
                        <ul class="lang list options-container31 select-box__list">
                            <li class="select-box__item lang__item lang__current option31"><a class="lang__link link"
                                    href="">ENG</a>
                            </li>
                            <li class="select-box__item lang__item option31"><a class="lang__link link" href="">RU</a>
                            </li>
                            <li class="select-box__item lang__item option31"><a class="lang__link link" href="">UA</a>
                            </li>
                        </ul>
                        <p class="selected31 select-lang select-form__subtitle">ENG</p>
                    </div>

                    <ul class="header-tel list">
                        <li class="header-tel__item"><a class="header-tel__link link" href="tel:+380936432288">
                                <svg class="header-tel__icon" width="14" height="14">
                                    <use href="./images/sprite.svg#mobil-phone"></use>
                                </svg>+38 (093) 643 22 88</a>
                        </li>
                        <li class="header-tel__item"><a class="header-tel__link link" href="tel:+380503454423">
                                <svg class="header-tel__icon" width="14" height="14">
                                    <use href="./images/sprite.svg#mobil-phone"></use>
                                </svg>+38 (050) 345 44 23</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>