<body>
    <header class="top-header">

        <div class="big-screen-header">
            <div class="header__container container">
                <nav class="header__nav">
                    <a class="logo header__logo link" href="./index.html">
                        <picture>
                            <source
                                srcset="../images/desktop/logo-desktop/desktop-logo-min.png 1x, ../images/desktop/logo-desktop/desktop-logo@2x-min.png 2x"
                                media="(min-width: 1444px)" />
                            <source srcset="" media="(min-width: 768px)" />
                            <source srcset="" media="(max-width: 320px)" />
                            <img class="team-cards__img" src="../images/desktop/logo-desktop/desktop-logo-min.png"
                                alt="Логотип компанії 3Д-Фрідом" />
                        </picture>
                    </a>
                    <ul class="menu list">
                        <li class="menu__item menu__current"><a class="menu__link link" href="">ГОЛОВНА</a></li>
                        <li class="menu__item">ПОСЛУГИ
                            <ul class="submenu">
                                <li class="submenu__item"><a class="submenu__link href="">3D Моделювання</li></a>
                                <li class=" submenu__item"><a class="submenu__link href="">3D Сканування</li></a>
                                <li class=" submenu__item"><a class="submenu__link href="">3D Друк</li></a>
                            </ul>
                        </li>
                        <li class=" menu__item"><a class="menu__link link" href="">ЗАМОВИТИ</a></li>
                                <li class="menu__item"><a class="menu__link link" href="">КОНТАКТИ</a></li>
                            </ul>
                    </ul>

                    <ul class="lang list">
                        <li class="lang__item lang__current"><a class="lang__link link" href="">ENG</a>
                        </li>
                        <li class="lang__item"><a class="lang__link link" href="">RU</a></li>
                        <li class="lang__item"><a class="lang__link link" href="">UA</a></li>
                    </ul>

                    <ul>
                        <li><a href="">+38 (093) 643 22 88</a></li>
                        <li><a href=""></a>+38 (050) 345 44 23</a></li>
                    </ul>


                </nav>
            </div>
        </div>
    </header>