<div class="nav-anchor">
    <nav class="anchor">
        <a href="#gallery" class="anchor-link">
            <svg class="anchor-icon">
                <use href="./images/sprite.svg#arrow"></use>
            </svg> 
        </a>
    </nav>
</div>

<section class="hero-section">
    <div class="hero-container">
        <h1 class="hero-title">
            Інженерна, конструкторська <br/> та дизайнерська робота
        </h1>
        <ul class="hero-list list">
            <div class="hero-list-div">
                <li class="hero-item robot">
                    <div class="hero-pic">
                           <picture class="robot-pic">
                                <source media="(min-width: 1440px)"
                                srcset="
                                ../src/images/desktop/main/first-section-robo-min.jpg 1x,
                                ../src/images/desktop/main/first-section-robo@2x-min.jpg 2x
                                "
                                > 
                                <source media="(min-width: 768px)"
                                srcset="
                                ../src/images/tablet/main/first-section-robo-min.jpg 1x,
                                ../src/images/tablet/main/first-section-robo@2x-min.jpg 2x
                                "
                                >  
                                <source media="(min-width: 320px)"
                                srcset="
                                ../src/images/mobile/main/first-section-robo-min.jpg 1x,
                                ../src/images/mobile/main/first-section-robo@2x-min.jpg 2x
                                "
                                >   
                                <img src="../src/images/mobile/main/first-section-robo-min.jpg" alt="skull"> 
                            </picture> 
                    </div>

                </li>
                <li class="hero-item lamps">
                    <div class="hero-pic">
                        <picture class="lamps">
                            <source media="(min-width: 1440px)"
                            srcset="
                            ./images/desktop/main/first-section-lamps-min.jpg 1x,
                            ./images/desktop/main/first-section-lamps@2x-min.jpg 2x
                            "
                            > 
                            <source media="(min-width: 768px)"
                            srcset="
                            ./images/tablet/main/first-section-lamps-min.jpg 1x,
                            ./images/tablet/main/first-section-lamps@2x-min.jpg 2x
                            "
                            >  
                            <source media="(min-width: 320px)"
                            srcset="
                            ./images/mobile/main/first-section-lamps-min.jpg 1x,
                            ./images/mobile/main/first-section-lamps@2x-min.jpg 2x
                            "
                            >   
                            <img src="./images/mobile/main/first-section-lamps-min.jpg" alt="skull">
                        </picture>
                    </div>
                </li>
                <li class="hero-item">
                    <div class="hero-pic skull">
                        <picture class="skull">
                            <source media="(min-width: 1440px)"
                            srcset="
                            ./images/desktop/main/first-section-skull-min.jpg 1x,
                            ./images/desktop/main/first-section-skull@2x-min.jpg 2x
                            "
                            > 
                            <source media="(min-width: 768px)"
                            srcset="
                            ./images/tablet/main/first-section-skull-min.jpg 1x,
                            ./images/tablet/main/first-section-skull@2x-min.jpg 2x
                            "
                            >  
                            <source media="(min-width: 320px)"
                            srcset="
                            ./images/mobile/main/first-section-skull-min.jpg 1x,
                            ./images/mobile/main/first-section-skull@2x-min.jpg 2x
                            "
                            >   
                            <img src="./images/mobile/main/first-section-skull-min.jpg" alt="skull">
                        </picture>
                    </div>
                </li>
            </div>
        </ul>
        <p class="hero-text">Ми втілюємо ідеї в реальність</p>
    </div>


</section>


