<div class="mobile-menu-wrap">
    <header class="mobile-menu-header">
        <p>Header</p>
    </header>
    <ul class="mobile-nav">
        <li class="mobile-nav__item mobile-nav__current"><a href="">ГОЛОВНА</a></li>
        <li class="mobile-nav__item">ПОСЛУГИ
            <ul>
                <li class="mobil-nav__element"><a href="">3D Моделювання</li></a>
                <li class="mobil-nav__element"><a href="">3D Сканування</li></a>
                <li class="mobil-nav__element"><a href="">3D Друк</li></a>
            </ul>
        </li>
        <li class="mobile-nav__item"><a href="">ЗАМОВИТИ</a></li>
        <li class="mobile-nav__item"><a href="">КОНТАКТИ</a></li>
    </ul>
</div>