<div class="mobile-menu-wrap">
    <header class="mobile-menu-header">
        <p>Header</p>
    </header>
    <ul class="mobile-nav list">
        <li class="mobile-nav__item mobile-nav__current"><a class="mobile-nav__link link"
                href="./index.html">ГОЛОВНА</a></li>
        <li class="mobile-nav__item">ПОСЛУГИ
            <ul class="mobile-submenu list">
                <li class="mobil-submenu__item">
                    <a class="mobil-submenu__link link" href="./modeling.html">3D Моделювання</a>
                </li>
                <li class="mobil-submenu__item">
                    <a class="mobil-submenu__link link" href="./scanning.html">3D Сканування</a>
                </li>
                <li class="mobil-submenu__item">
                    <a class="mobil-submenu__link link" href="./printing.html">3D Друк</a>
                </li>
            </ul>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link link" href="./take-order.html">ЗАМОВИТИ</a>
        </li>
        <li class="mobile-nav__item">
            <a class="mobile-nav__link link" href="./contacts.html">КОНТАКТИ</a>
        </li>
    </ul>
</div>