<div class="mobile-menu-wrap">
    <div class="header__container">
        <button class="mobile-menu__btn" type="button" data-menu-open>
            <svg class="mobile-menu__burger" width="32" height="32">
                <use href="./images/sprite.svg#burger-menu"></use>
            </svg>
        </button>
        <div class="header__container menu-overlay" data-menu>
            <!-- <div class="menu-bg"></div> -->
            <div class="menu-container">
                <div class="mobile-header__wrap">
                    <a class="logo header__logo link" href="./index.html">
                        <picture>
                            <source
                                srcset="./images/tablet/logo-tablet/tablet-logo-min.png 1x, ./images/tablet/logo-tablet/tablet-logo@2x-min.png 2x"
                                media="(min-width: 768px)" />
                            <source
                                srcset="./images/mobile/logo-mobile/mobil-logo-min.png 1x, ./images/mobile/logo-mobile/mobil-logo@2x-min.png 2x"
                                media="(max-width: 320px)" />
                            <img class="team-cards__img" src="./images/mobile/logo-mobile/mobil-logo-min.png"
                                alt="Логотип компанії 3Д-Фрідом" />
                        </picture>
                    </a>

                    <button class="mobile-menu__btn" type="button" data-menu-close>
                        <svg class="mobile-menu__close" width="23" height="23">
                            <use href="./images/sprite.svg#menu-modal-close"></use>
                        </svg>
                    </button>

                    <button class="mobile-tel__btn" type="button" data-tel-open>
                        <svg class="mobile-tel__icon" width="24" height="24">
                            <use href="./images/sprite.svg#mobil-phone"></use>
                        </svg>
                    </button>
                    <button class="mobile-lang__btn" type="button" data-lang-open>ENG</button>
                </div>
            </div>

            <ul class="mobile-nav list">
                <li class="mobile-nav__item "><a class="mobile-nav__link menu-link-action link"
                        href="./index.html">ГОЛОВНА</a></li>
                <li class="mobile-nav__item">ПОСЛУГИ
                    <ul class="mobile-submenu list">
                        <li class="mobile-submenu__item">
                            <a class="mobile-submenu__link menu-link-action link" href="./modeling.html">3D
                                Моделювання</a>
                        </li>
                        <li class="mobile-submenu__item mobile-nav__current">
                            <a class="mobile-submenu__link menu-link-action link" href="./scanning.html">3D
                                Сканування</a>
                        </li>
                        <li class="mobile-submenu__item">
                            <a class="mobile-submenu__link menu-link-action link" href="./printing.html">3D Друк</a>
                        </li>
                    </ul>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link menu-link-action link" href="./take-order.html">ЗАМОВИТИ</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="mobile-nav__link menu-link-action link" href="./contacts.html">КОНТАКТИ</a>
                </li>
            </ul>

        </div>
    </div>
</div>