<div class="container">
    <section class="modelling-container">
        <h1 class="modelling-header">3D МОДЕЛЮВАННЯ</h1>
        <div class="modelling-content">
            <p class="modelling-description-left">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована
                модель буде створюватися шляхом 3D
                друку, обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд
                інженерних вимог які повинен враховувати дизайнер при розробці моделі.</p>
            <p class="modelling-description-right">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
                підготують модель для її створення. Ми
                маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
        </div>
    
        <div class="modelling-ways-content">
            <div class="modelling-ways-main">
                <h2 class="modelling-ways-header">СПОСОБИ СТВОРЕННЯ МОДЕЛІ:</h2>
                <ul class="modelling-ways-list list">
                    <li class="modelling-ways__item">
                        3D сканування
                    </li>
                    <li class="modelling-ways__item">
                        На основі фотографій з доданими розмірами
                    </li>
                    <li class="modelling-ways__item">
                        За ескізами з розмірами
                    </li>
                    <li class="modelling-ways__item">
                        За вашим кресленням
                    </li>
                    <li class="modelling-ways__item">
                        По вже існуючому прототипу шляхом зняття розмірів
                    </li>
                </ul>
            </div>
        </div>
    
        <h2 class="modelling-picture-header">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ <br>
            ЗОБРАЖЕННЯ МОДЕЛЕЙ
        </h2>
    
        <ul class="modelling-pictures-list list">
            <li class="modelling-pictures__item">
                <picture class="picture__item">
                    <source media="(min-width: 1440px)"
                        srcset="../src/images/desktop/3d-modeling/modeling1-min.jpg 1x, ../src/images/desktop/3d-modeling/modeling1@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="../src/images/tablet/3d-modeling/modeling1-min.jpg 1x, ../src/images/tablet/3d-modeling/modeling1@2x-min.jpg 2x" />
                    <source media="(max-width:767px)"
                        srcset="../src/images/mobile/3d-modeling/modeling1-min.jpg 1x, ../src/images/mobile/3d-modeling/modeling1@2x-min.jpg 2x" />
                    <img src="../src/images/desktop/3d-modeling/modeling1-min.jpg" alt="model 1">
                </picture>
            </li>
            <li class="modelling-pictures__item">
                <picture class="picture__item">
                    <source media="(min-width: 1440px)"
                        srcset="../src/images/desktop/3d-modeling/modeling2-min.jpg 1x, ../src/images/desktop/3d-modeling/modeling2@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="../src/images/tablet/3d-modeling/modeling2-min.jpg 1x, ../src/images/tablet/3d-modeling/modeling2@2x-min.jpg 2x" />
                    <source media="(max-width:767px)"
                        srcset="../src/images/mobile/3d-modeling/modeling2-min.jpg 1x, ../src/images/mobile/3d-modeling/modeling2@2x-min.jpg 2x" />
                    <img src="../src/images/desktop/3d-modeling/modeling2-min.jpg" alt="model 2">
                </picture>
            </li>
            <li class="modelling-pictures__item">
                <picture class="picture__item">
                    <source media="(min-width: 1440px)"
                        srcset="../src/images/desktop/3d-modeling/modeling3-min.jpg 1x, ../src/images/desktop/3d-modeling/modeling3@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="../src/images/tablet/3d-modeling/modeling3-min.jpg 1x, ../src/images/tablet/3d-modeling/modeling3@2x-min.jpg 2x" />
                    <source media="(max-width:767px)"
                        srcset="../src/images/mobile/3d-modeling/modeling3-min.jpg 1x, ../src/images/mobile/3d-modeling/modeling3@2x-min.jpg 2x" />
                    <img src="../src/images/desktop/3d-modeling/modeling3-min.jpg" alt="model 3">
                </picture>
            </li>
            <li class="modelling-pictures__item">
                <picture class="picture__item">
                    <source media="(min-width: 1440px)"
                        srcset="../src/images/desktop/3d-modeling/modeling4-min.jpg 1x, ../src/images/desktop/3d-modeling/modeling4@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="../src/images/tablet/3d-modeling/modeling4-min.jpg 1x, ../src/images/tablet/3d-modeling/modeling4@2x-min.jpg 2x" />
                    <source media="(max-width:767px)"
                        srcset="../src/images/mobile/3d-modeling/modeling4-min.jpg 1x, ../src/images/mobile/3d-modeling/modeling4@2x-min.jpg 2x" />
                    <img src="../src/images/desktop/3d-modeling/modeling4-min.jpg" alt="model 4">
                </picture>
            </li>
        </ul>
        <button class="modal-btn" type="button" href="./take-order-hero.html">
            ЗРОБИТИ ЗАМОВЛЕННЯ
        </button>
    </section>
    </div>
    
    