<section class="take-order__hero-container">
    <div class="container ">
        <h1 class="take-order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
        <div class="take-order__box">
            <div class="take-order__hero-pic"></div>
            <div>
                <div>
                    <ul class="take-order__list">
                        <li class="take-order__list-item">
                            <p class="take-order__text"> На цій сторінці ви можете зробити замовлення заповнивши форму і
                                ми зв'яжемося з
                                вами.</p>
                        </li>
                        <li>
                            <p class="take-order__text">Наші фахівці допоможуть підібрати оптимальні для вас параметри і
                                дадуть
                                відповідь на всі ваші запитання.</p>
                        </li>
                    </ul>

                    <div class="take-order__photo-box">
                        <picture>
                            <source class="take-order__img--first" media="(min-width: 1440px)"
                                srcset="./images/desktop/take-order/take-order1-min.png 1x, ./images/desktop/take-order/take-order1@2x-min.png 2x">

                            <img class="take-order__img--first" src="./images/desktop/take-order/take-order1-min.png"
                                alt="машинки">
                        </picture>
                        <picture>
                            <source class="take-order__img--second" media="(min-width: 1440px)"
                                srcset="./images/desktop/take-order/take-order2-min.png 1x, ./images/desktop/take-order/take-order2@2x-min.png 2x">

                            <img class="take-order__img--second" src="./images/desktop/take-order/take-order2-min.png"
                                alt="3 вещи">
                        </picture>
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="./images/desktop/take-order/take-order3-min.png 1x, ./images/desktop/take-order/take-order3@2x-min.png 2x">

                            <img class="take-order__img--third" src="./images/desktop/take-order/take-order3-min.png"
                                alt="лампа в виде гриба">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
