<section class="more-photos__section section-container">
    <h2 class="more-photos__section-header">більше фото</h2>
    <ul class="more-photos__list">
        <li class="more-photos__point">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo1-min.jpg 1x, ./images/desktop/main/more-photo1@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo1-min.jpg 1x, ./images/tablet/main/more-photo1@2x-min.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/more-photo1-min.jpg 1x, ./images/mobile/main/more-photo1@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/mobile/main/more-photo1-min.jpg" alt="3d-model-1"/>
                </picture>
            </div>
        </li>
        <li class="more-photos__point">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo2-min.jpg 1x, ./images/desktop/main/more-photo2@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo2-min.jpg 1x, ./images/tablet/main/more-photo2@2x-min.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/more-photo2-min.jpg 1x, ./images/mobile/main/more-photo2@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/mobile/main/more-photo2-min.jpg" alt="3d-model-2" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo3-min.jpg 1x, ./images/desktop/main/more-photo3@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo3-min.jpg 1x, ./images/tablet/main/more-photo3@2x-min.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/more-photo3-min.jpg 1x, ./images/mobile/main/more-photo3@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/mobile/main/more-photo3-min.jpg" alt="3d-model-3" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo4-min.jpg 1x, ./images/desktop/main/more-photo4@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo4-min.jpg 1x, ./images/tablet/main/more-photo4@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo4-min.jpg" alt="3d-model-4" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo5-min.jpg 1x, ./images/desktop/main/more-photo5@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo5-min.jpg 1x, ./images/tablet/main/more-photo5@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo5-min.jpg" alt="3d-model-5" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo6-min.jpg 1x, ./images/desktop/main/more-photo6@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo6-min.jpg 1x, ./images/tablet/main/more-photo6@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo6-min.jpg" alt="3d-model-6" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo7-min.jpg 1x, ./images/desktop/main/more-photo7@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo7-min.jpg 1x, ./images/tablet/main/more-photo7@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo7-min.jpg" alt="3d-model-7" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo8-min.jpg 1x, ./images/desktop/main/more-photo8@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo8-min.jpg 1x, ./images/tablet/main/more-photo8@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo8-min.jpg" alt="3d-model-8" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo9-min.jpg 1x, ./images/desktop/main/more-photo9@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo9-min.jpg 1x, ./images/tablet/main/more-photo9@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo9-min.jpg" alt="3d-model-9" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo10-min.jpg 1x, ./images/desktop/main/more-photo10@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo10-min.jpg 1x, ./images/tablet/main/more-photo10@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo10-min.jpg" alt="3d-model-10" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo11-min.jpg 1x, ./images/desktop/main/more-photo11@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo11-min.jpg 1x, ./images/tablet/main/more-photo11@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo11-min.jpg" alt="3d-model-11" />
                </picture>
            </div>
        </li>
        <li class="more-photos__point visually-hidden">
            <div class="more-photos__img-wrapper">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="./images/desktop/main/more-photo12-min.jpg 1x, ./images/desktop/main/more-photo12@2x-min.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/more-photo12-min.jpg 1x, ./images/tablet/main/more-photo12@2x-min.jpg 2x">
                    <img class="team__photo" src="./images/tablet/main/more-photo12-min.jpg" alt="3d-model-12" />
                </picture>
            </div>
        </li>
    </ul>
</section>