<section class="section-pp">
  <div class="container-pp">
    <h1 class="section-title-pp">МИ СТВОРЮЄМО</h1>

    <ul class="create__list list">
      <li class="create-list__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing1-min.png    1x,
              ./images/desktop/3d-printing/printing1@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing1-min.png    1x,
              ./images/tablet/3d-printing/printing1@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing1-min.png    1x,
              ./images/mobile/3d-printing/printing1@2x-min.png 2x
            "
          />

          <img src="#" alt="прототип детали" />
        </picture>
        <p class="create-item_text">ПРОТОТИПИ</p>
      </li>
      <li class="create-list__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing2-min.png    1x,
              ./images/desktop/3d-printing/printing2@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing2-min.png    1x,
              ./images/tablet/3d-printing/printing2@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing2-min.png    1x,
              ./images/mobile/3d-printing/printing2@2x-min.png 2x
            "
          />

          <img src="#" alt="макет здания" />
        </picture>
        <p class="create-item_text">МАКЕТИ</p>
      </li>
      <li class="create-list__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing3-min.png    1x,
              ./images/desktop/3d-printing/printing3@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing3-min.png    1x,
              ./images/tablet/3d-printing/printing3@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing3-min.png    1x,
              ./images/mobile/3d-printing/printing3@2x-min.png 2x
            "
          />

          <img src="#" alt="предмет декора" />
        </picture>
        <p class="create-item_text">ДЕКОР</p>
      </li>
      <li class="create-list__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing4-min.png    1x,
              ./images/desktop/3d-printing/printing4@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing4-min.png    1x,
              ./images/tablet/3d-printing/printing4@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing4-min.png    1x,
              ./images/mobile/3d-printing/printing4@2x-min.png 2x
            "
          />

          <img src="#" alt="3д квадрат" />
        </picture>
        <p class="create-item_text">КОРПОРАТИВНИЙ<br />ДИЗАЙН</p>
      </li>
    </ul>

    <ul class="working-methods__list">
      <li class="working-methods__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing5-min.png    1x,
              ./images/desktop/3d-printing/printing5@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing5-min.png    1x,
              ./images/tablet/3d-printing/printing5@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing5-min.png    1x,
              ./images/mobile/3d-printing/printing5@2x-min.png 2x
            "
          />

          <img src="#" alt="Печать 3д ейфилевой башни" />
        </picture>
        <div class="work-meth__info">
          <p class="working-methods__text">
            <span>3D-друк</span> - ми використовуємо FDM технологію друку. Вона представляє собою
            пошарове формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="working-methods__text">
            Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
            системах автоматизованого проектування.
          </p>
          <p class="working-methods__text">
            3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві
            і багатьох інших сфер.
          </p>
          <button type="button" class="button-order-pp">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
      <li class="working-methods__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing6-min.png    1x,
              ./images/desktop/3d-printing/printing6@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing6-min.png    1x,
              ./images/tablet/3d-printing/printing6@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing6-min.png    1x,
              ./images/mobile/3d-printing/printing6@2x-min.png 2x
            "
          />

          <img src="#" alt="работа в программе 3д моделирования" />
        </picture>
        <div class="work-meth__info">
          <p class="working-methods__text">
            <span>3D-моделювання</span> - це процес розробки математичного уявлення будь-якої
            поверхні об'єкта в трьох вимірах за допомогою спеціалізованого програмного забезпечення.
          </p>
          <p class="working-methods__text">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
          </p>
          <p class="working-methods__text">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші потреби.
          </p>
          <button type="button" class="button-order-pp">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
      <li class="working-methods__item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/3d-printing/printing7-min.png    1x,
              ./images/desktop/3d-printing/printing7@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/printing7-min.png    1x,
              ./images/tablet/3d-printing/printing7@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/printing7-min.png    1x,
              ./images/mobile/3d-printing/printing7@2x-min.png 2x
            "
          />

          <img src="#" alt="машинка 3д печати" />
        </picture>
        <div class="work-meth__info">
          <p class="working-methods__text">
            <span>3D-сканування</span> - зняття даних, шляхом аналізу форми предмета і на основі
            отриманих даних створення її 3D-моделі.
          </p>
          <p class="working-methods__text">
            Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
            візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
            3D-принтері.
          </p>
          <button type="button" class="button-order-pp">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
    </ul>
  </div>
</section>
