<section class="section-order-form container">
  <h2 class="take-order__subtittle visually-hidden">зворотній зв'язок</h2>
  <form class="order-form" name="order-form">
    <strong class="order-form__title">ЗВ’ЯЖІТЬСЯ З НАМИ </strong>
    <div class="order-form__input order-form__input--wrap">
      <input name="order-name" id="order-name" type="text" required minlength="2" placeholder=" " />
      <label for="order-name" class="order-form__label">Ім’я</label>
    </div>
    <div class="order-form__input order-form__input--wrap">
      <input name="order-mail" id="order-mail" type="email" required minlength="2" placeholder=" " />
      <label for="order-mail" class="order-form__label">Email</label>
    </div>

    <div class="select-box order-form__input">
      <ul class="options-container1">
        <li class="option1">
          <input type="radio" class="radio" id="300" name="plastic" value="300" />
          <label for="300">300 мікрон</label>
        </li>
        <li class="option1">
          <input type="radio" class="radio" id="200" name="plastic" value="200" />
          <label for="200">200 мікрон</label>
        </li>
        <li class="option1">
          <input type="radio" class="radio" id="100" name="plastic" value="100" />
          <label for="100">100 мікрон</label>
        </li>
        <li class="option1">
          <input type="radio" class="radio" id="support" name="plastic" value="support" />
          <label for="support">Труднощі у виборі - ми допоможемо</label>
        </li>
      </ul>
      <p class="selected1 select-form__subtitle">Види пластика</p>
    </div>

    <div class="select-box order-form__input">
      <ul class="options-container2">
        <li class="option2">
          <input type="radio" class="radio" id="400" name="quality" value="300" />
          <label for="400">300 мікрон</label>
        </li>
        <li class="option2">
          <input type="radio" class="radio" id="500" name="quality" value="200" />
          <label for="500">200 мікрон</label>
        </li>
        <li class="option2">
          <input type="radio" class="radio" id="600" name="quality" value="100" />
          <label for="600">100 мікрон</label>
        </li>
        <li class="option2">
          <input type="radio" class="radio" id="suppor" name="quality" value="support" />
          <label for="suppor">Труднощі у виборі - ми допоможемо</label>
        </li>
      </ul>
      <p class="selected2 select-form__subtitle">Якість друку</p>
    </div>

    <div class="select-box order-form__input">
      <ul class="options-container3">
        <li class="option3">
          <input type="radio" class="radio" id="700" name="color" value="300" />
          <label for="700">300 мікрон</label>
        </li>
        <li class="option3">
          <input type="radio" class="radio" id="800" name="color" value="200" />
          <label for="800">200 мікрон</label>
        </li>
        <li class="option3">
          <input type="radio" class="radio" id="900" name="color" value="100" />
          <label for="900">100 мікрон</label>
        </li>
        <li class="option3">
          <input type="radio" class="radio" id="suppo" name="color" value="support" />
          <label for="suppo">Труднощі у виборі - ми допоможемо</label>
        </li>
      </ul>
      <p class="selected3 select-form__subtitle">Колір</p>
    </div>

    <div class="form-input">
      <label for="comment">Повідомлення</label>
      <textarea name="comment" id="comment" placeholder="Залишіть своє повідомлення"></textarea>
    </div>
    <div class="form-input">
      <input type="file" id="file" />
      <label for="file">*Прикріпіть зображення/креслення/STL/Obj/CAD-модель</label>
    </div>
    <button type="submit">ВІДПРАВИТИ</button>
  </form>
</section>

<section class="section container">
  <h2 class="take-order__subtittle">контакти</h2>
  <div class="contacts-tel">
    <h3 class="contacts-tel__caption caption">ТЕЛЕФОНИ</h3>
    <ul class="contacts-tel__list">
      <li class="contacts-tel__item">
        <a href="tel:+380957384551" class="contacts-tel__link">+38 (095) -73-84-551</a>
      </li>
      <li class="contacts-tel__item">
        <a href="tel:+380980025235" class="contacts-tel__link">+38 (098) -00-25-235</a>
      </li>
    </ul>
  </div>
  <div class="contacts-mail">
    <h3 class="contacts-mail__caption caption">Email</h3>
    <a class="contacts-mail__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
  </div>
  <div class="contacts-time">
    <h3 class="contacts-time__caption caption">Робочий час</h3>
    <ul class="contacts-time__list">
      <li class="contacts-time__item">
        <p class="contacts-time__text">Пн-пт: з 8:00 до 19:00
        </p>
      </li>
      <li class="contacts-time__item">
        <p class="contacts-time__text">Сб, Нд: з 10:00 до 17:00
        </p>
      </li>
    </ul>
  </div>
  <div class="photo-puzzle">
    <picture>
      <source srcset="./images/desktop/take-order/puzzle.png 1x, ./images/desktop/take-order/puzzle@2x.png 2x" />
      <img src="#" alt="сайты для ПК" />
    </picture>
  </div>
</section>
<script src="./js/take-order-select-1.js"></script>
<script src="./js/take-order-select-2.js"></script>
<script src="./js/take-order-select-3.js"></script>