.footer__section {
  text-align: center;

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}
.address__box--tel {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
  @media screen and (min-width: 1440px) {
    text-align: initial;
  }
}
.footer__item {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  list-style-type: none;

  color: var(--main-text-color);
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__subtitle {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: var(--main-text-color);
}
.address__link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: lowercase;

  color: var(--accent-color);
}
.address__subtitle {
  margin-bottom: 8px;
  font-style: normal;
}
.footer-nav {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: initial;
    min-width: 210px;
  }
}
.footer-social__box {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    text-align: initial;
    min-width: 114px;
  }
  @media screen and (min-width: 1440px) {
    min-width: auto;
  }
}
.footer-nav__list {
  list-style: none;
}
.footer-social__list {
  list-style: none;
}
.address__list {
  list-style: none;
}

.address__box--mail {
  margin-bottom: 24px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
  @media screen and (min-width: 1440px) {
    text-align: initial;
  }
}
.footer__container {
  padding: 32px 0;
  background: var(--footer-color);
}
.footer__box {
  margin-bottom: 19px;
  text-align: center;
  display: inline-block;

  @media screen and (min-width: 1440px) {
    margin-right: 136px;
  }
}
.address__link:not(:last-child) {
  margin-bottom: 8px;
}
.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    text-align: inherit;
    justify-content: space-between;
    padding: 0 60px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.address {
  @media screen and (min-width: 768px) {
    min-width: 210px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 145px;
  }
}
.footer-nav__link:visited {
  color: inherit;
}
