.top-section {
  position: absolute;
  width: 100%;
  padding-top: 22px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 40px;
  }
}

.link:visited {
  color: inherit;
}

.header__container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-left: 60px;
    padding-right: 55px;
    max-width: 768px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.header__nav {
  @media screen and (max-width: 1439px) {
    display: none;
  }
  display: flex;
  width: 100%;
  justify-content: space-between;
  // align-items: flex-start;

  margin: 0 auto;
}

.header__logo {
  max-width: 101px;
  height: auto;
  @media screen and (min-width: 768px) {
    max-width: 125px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 192px;
    margin-right: auto;
  }
}

.header-menu-wrap {
  display: flex;
}

.header-menu {
  font-family: Caviar Dreams;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  display: flex;
  margin-right: 50px;

  &__item:not(:last-child) {
    margin-right: 44px;
  }
}

.selected31.select-lang.select-form__subtitle,
.lang__link {
  font-family: Caviar Dreams;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #bdbdbd;
  border-bottom: none;
  &::after {
    content: '';
    right: -14px;
  }
}

.selected32.select-form__subtitle,
.options-container31.select-box__list.active {
  border-bottom: none;
}

.lang,
.select-lang__subtitle {
  @media screen and (min-width: 1440px) {
    font-family: Caviar Dreams;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #bdbdbd;

    max-height: 0;
    opacity: 0;
    transform: scale(0);
    order: 1;

    &.active {
      max-height: 100%;
      opacity: 1;
      transform: scale(1);
    }
  }
}

// .header-tel {
//   display: none;
//   @media screen and (min-width: 768px) {
//     display: block;
//     margin-left: 28px;
//   }
//   @media screen and (min-width: 1440px) {
//     margin-left: 94px;
//   }
// }

.header-tel__link {
  display: block;
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  fill: #008cef;

  &:hover,
  &:focus {
    color: #bdbdbd;
    fill: #bdbdbd;
  }
}

.header-tel__item:not(:last-child) {
  margin-bottom: 10px;
}

.header-tel__icon {
  @media screen and (min-width: 768px) {
    margin-right: 4px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 8px;
  }
}
